.TodoItem {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1.5rem;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}
.TodoItem-p {
    margin: 1.5rem 0 1.5rem 1.5rem;
    width: calc(100%-7.5rem);
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
}

.TodoItem-p--completed {
    text-decoration: line-through;
}