.empty-tasks-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    color: #eaeaea;
    background-color: linear-gradient(135deg, #0b0b0c, #2b0f3b);
    border-radius: 12px;
    margin: 30px auto;
    max-width: 400px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    transition: transform 0.2s, background-color 0.3s;
}

.empty-tasks-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.9);
}

.empty-tasks-title {
    font-size: 2rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.empty-tasks-subtitle {
    font-size: 1rem;
    color: #eaeaea;
}