form {
    width: 90%;
    max-width: 18.75rem;
    background-color: #fff;
    padding: 2.0625rem 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    text-align: center;
    font-weight: bold;
    font-size: 1.25rem;
    color: #1E1E1E;
    margin-bottom: 1.5rem;
}

textarea {
    background-color: #f9fbfc;
    border: 2px solid #202329;
    border-radius: 2px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: #1E1E1E;
    font-size: 1.25rem;
    text-align: center;
    padding: .75rem;
    height: 6rem;
    width: calc(100% - 1.5625rem);
}

textarea::placeholder{
    color: #A5A5A5;
    font-weight: 400;
}

textarea:focus {
    outline-color: #61dafa;
}

.taskForm-buttonContainer{
    margin-top: .875rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.tasksForm-button{
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: 7.5rem;
    height: 2.5rem;
    border-radius: 2px;
    border: none;

}
.tasksForm-button--add{
    background: #61dafa;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
}
.tasksForm-button--cancel {
    background: transparent;
}
.tasksForm-button--cancel:hover {
    background-color: red;
}