.container {
  position: relative;
  padding-bottom: 24px;
  margin: 0 auto;
  min-width: 300px;
  max-width: 1100px;
}
.CreateTodoButton {
  background: linear-gradient(135deg, #5f0a87, #a4508b);
  box-shadow: 
    0 0 25px rgba(164, 80, 139, 0.6),
    0 0 40px rgba(95, 10, 135, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  bottom: 24px;        
  right: 10px;
  font-weight: bold;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  z-index: 1;
  transition: 0.3s ease;
}

.CreateTodoButton:hover {
  transform: rotate(224deg) scale(1.08);
}