.CreateTodoButton {
  background-color: red;
  box-shadow: 
    0 0 40px rgba(168, 47, 31, 0.7),
    0 0 40px rgba(168, 47, 31, 0.4);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: #FAFAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  z-index: 1;

  transform: rotate(0);
  transition: transform .3s ease, box-shadow .3s ease;


}

.CreateTodoButton:hover {
  transform: rotate(224deg) scale(1.05);
}