body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #0b0b0c, #2b0f3b);
  color: #eaeaea;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  margin: 0 1.5rem;
  position: relative;
  min-height: 100vh;
}


