.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s ease;
}

.Icon-container-check {
    position: relative;
    left: .75rem;
}
.Icon-container-check:hover .Icon-svg {
  fill: #c084fc;
  transform: scale(1.25);
}

/* .Icon-container-check--active .Icon-svg {
  fill: #a4508b;
  transform: scale(1.15);
} */

.Icon-container-delete {
  position: absolute;
  font-size: 1.5rem;
  top: -24px;
  right: 0;
}

.Icon-container-delete .Icon-svg {
  fill: #a4508b;
  transition: 0.3s ease;
}

.Icon-container-delete:hover .Icon-svg {
  fill: #df4494;
  transform: scale(1.25);
}

.Icon-svg {
    width: 1.5rem;
    height: 1.5rem;
    transition: 0.3s ease;
}